{% extends "base.html" %}

{% block title %} {{ TITLE }} {% endblock %}

{% block header %}
<h2 class="page-header">| Database Mode |</h2>
{% endblock %}

{% block content %}
<div id="contents">

    <!-- INSTRUCTIONS  -->
    <div class="alert alert-secondary alert-dismissible fade show" role="alert"  style="margin-bottom: 0px;">
        <strong>Database Mode </strong> Contains all registered Vehicles in the subdivision containing all relevant information such as. Plate Number , Owner Name and the Date the vehicle was registered. 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div id="lower_container"> 
        <table class="content-table">
        <thead>
            <tr>
            <th>Id</th>
            <th>Plate Number</th>
            <th>Owner</th>
            <th>Date Registered</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> ### </td>
                <td> ### </td>
                <td> ### </td>
                <td> ### </td>
            </tr>

            <!-- ------------------------ display all item loop ------------------------ -->
            {% for item in db_data %}
            <tr>
                <td> {{item["id"]}} </td>
                <td> {{item["plate_num"]}} </td>
                <td> {{item["owner_name"]}} </td>
                <td> {{item["date_registered"]}} </td>
            </tr>
            {% endfor %}

            <tr>
                <td> ### </td>
                <td> ### </td>
                <td> ### </td>
                <td> ### </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
{% endblock %}
