{% extends "base.html" %}
<!-- -------------------------------- title -------------------------------- -->
{% block title %} {{ TITLE }} {% endblock %}

<!-- ------------------------------- header -------------------------------- -->
{% block header %}
<h2 class="page-header">| Live Preview |</h2>
{% endblock %}
<!-- ------------------------------ contents ------------------------------- -->
{% block content %}

<div id="contents">
	<div id="detection-container">
		<img id="videoElement" src="{{ url_for('video_feed') }}" />
	</div>
	<div id="lower-container">
		<form id="control">
			Toggle Detection:
			<a id="use-model"><button class="btn btn-default">On/Off</button></a>
		</form>
		<table class="tg" style="undefined;table-layout: fixed; width: 402px">
			<colgroup>
				<col style="width: 201px" />
				<col style="width: 201px" />
			</colgroup>
			<thead>
				<tr>
					<th class="tg-wp8o">| Plate Number |</th>
					<th class="tg-wp8o">| Owner Name |</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<!-- <td class="tg-wp8o"> <div id="dynamic_plate"> {{PLATE}} </div></td> -->
					<td class="tg-wp8o" colspan="2"><div id="dynamic_plate"> {{PLATE}} </div></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<script type="text/javascript">
	$(function () {
		window.setInterval(function () {
			loadNewPlate();
		}, 3000);

		function loadNewPlate() {
			$.ajax({
				url: "/update_plate",
				type: "POST",
				dataType: "json",
				success: function (data) {
					// $(random_decimal).replaceWith(data.content)
					console.log("ajax success");
					console.log("replaced with");
					console.log(data);
					document.getElementById("dynamic_plate").innerText = data;
				},
			});
		}
	});
</script>

<!-- <div id="dynamic_plate">
<h2> NOT REPLACED </h2>
{{ PLATE }}
</div> -->
{% endblock %}
