{% extends "base.html" %}

{% block title %} {{ TITLE }} {% endblock %}

{% block header %}
<h2 class="page-header">| Log Mode |</h2>
{% endblock %}

{% block content %}
<div id="contents">
    <div id="lower_container"> 
        <table class="content-table">
        <thead>
            <tr>
            <th>Entry Id</th>
            <th>Plate Number</th>
            <th>Date and Time of Entry</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> ### </td>
                <td> ### </td>
                <td> ### </td>
            </tr>

            <!-- ------------------------ display all item loop ------------------------ -->
            {% for item in db_data %}
            <tr>
                <td> {{item["id"]}} </td>
                <td> {{item["plate"]}} </td>
                <td> {{item["date"]}} </td>
            </tr>
            {% endfor %}

            <tr>
                <td> ### </td>
                <td> ### </td>
                <td> ### </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
{% endblock %}