{% extends "base.html" %}

{% block title %} {{ TITLE }} {% endblock %}

{% block header %}
<h2 class="page-header">| Register Mode |</h2>
{% endblock %}

{% block content %}

<div id="contents">
    {% if error == True %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong> {{error_msg}} </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
    {% else %}
        {% for message in get_flashed_messages() %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong> {{ message }} </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <div id="lower_container"> 
        <form class = "register_form" action="#" method="post" >
            <p> Car Plate [ex. jes420] </p>
            <p> <input type="text" name="plate_input"/></p>
            <p> Owner: </p>
            <p> <input type="text" name="owner_input"/></p>
            <p> <input type="submit" value="submit"/></p>
        </form>
    </div>
</div>
{% endblock %}
